# Database MySQL in Planet Scale
DB_USERNAME=
DB_PASSWORD=
DB_NAME=
DB_HOST=
DB_DIALECT=
DB_PORT=

# env test local
DB_USERNAME_TEST=root
DB_PASSWORD_TEST=
DB_NAME_TEST=kasa_talk_test
DB_HOST_TEST=127.0.0.1
DB_DIALECT_TEST=mysql
DB_PORT_TEST=3306

# env test prod
DB_USERNAME_PROD=
DB_PASSWORD_PROD=
DB_NAME_PROD=
DB_HOST_PROD=
DB_DIALECT_PROD=
DB_PORT_PROD=

PORT=8080

# Set App password. Go to https://myaccount.google.com/ -> Security -> 
# 2 step verification -> app password
MAIL_SERVICE=
MAIL_USER=
MAIL_PASS=
MAIL_FROM=

BASE_URL=

USER_PROFILE_PICTURE=https://iili.io/JzNObUP.png

ADMIN_EMAIL=

JWT_SECRET=
JWT_EXPIRES_IN=
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=